<!DOCTYPE html>
<html ng-app="gemStore">
    <head>
        <script type="text/javascript" src="angular.1.6.1.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-controller="StoreController as store">
        <div ng-repeat="product in store.products">
            <li ng-repeat="review in product.reviews">
                {{"stars: " + review.stars}}
                <input ng-model="review.author"/>
                <strong>STRONG</strong>
            </li>
            <form novalidate>
                This is form
            </form>
        </div>
    </body>
</html>
